<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="venv\Scripts\python.exe"
                  arguments="-m uvicorn main:app --host 127.0.0.1 --port 8001 --workers 2"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python.log"
                  startupTimeLimit="120"
                  requestTimeout="00:01:00" />
  </system.webServer>
</configuration>
